.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.item-container{
    display : flex;
    flex-direction : column;
}

.item-container:hover{
    cursor:pointer;
}

.thumbnail-container{
    width : 100%;
    border:solid 1px lightgray;
    border-radius:20%;
}



.item-thumbnail{
    width: 100%;
    border:solid 1px lightgray;
    border-radius:3%;
}

.item-footer {
    display : flex;
    height : 100px;
    margin-top : 8px;
}

.item-avatar {
    width : 45px;
    height : 45px;
    border : solid 1px lightgray;
    border-radius : 50%;
}

.item-text {
    display : flex;
    flex-direction : column;
    height : 100%;
    margin-left: 12px;
}

.item-text > p {
    margin : 2px 0px;
}

.item-text > p:first-child{
    color: black;
    font-weight: bold;
}

.item-text > p:nth-child(2),
.item-text > p:last-child {
    color: gray;
}